@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#vitrine {
    position: relative;
    margin: 0 0 0 20px;
    display: flex;
    padding: 0 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
}

#vitrine::-webkit-scrollbar {
    display: none;
}

#vitrine li {
    width: 80vw;
    max-width: 300px;
    margin: 0 20px 0 0;
    scroll-snap-align: start;
}

#vitrine li figure {
    position: relative;
}

#vitrine li figure img {
    width: 60vw;
    max-width: 280px;
    max-height: 180px;
    border: 4px solid #ffe9ee;
    border-radius: 8px;
}

#vitrine li figure figcaption {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #ffe9ee;
    position: absolute;
    border-radius: 15px;
    margin-top: -16px;
    margin-left: 12px;
    padding: 5px 15px;
    font-size: 12px;
}
#vitrine li figure figcaption img{
    width: 1.6em;
}

#vitrine li h2 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 30px 0 0 0;
    height: 30px;
}

#vitrine li p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #868e96;
    height: 100px;
}

.li-inferior {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212529;
    font-weight: 700;
}

.li-inferior button {
    border: none;
    width: 35px;
    height: 35px;
    background-color: #e4f7ef;
    border-radius: 50%;
    color: #4aca94;
    font-size: 11px;
}

header {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    width: 90%;    
    flex-wrap: wrap;
    font-size: 14px;
}

#barra-completa {
    background-color: #e9ecef;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    width: 90vw;
}

#barra-pesquisar {
    width: 255px;
    height: 35px;
    border: none;
    outline-style: none;
    background: none;
    padding: 0 10px;
}


header button {
    color: #ff2253;
    background-color: #ffe9ee;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: none;
    width: 40px;
    height: 40px;
}

#container-topicos {
    width: 100vw;
    max-width: 520px;
    overflow: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#container-topicos::-webkit-scrollbar {
    display: none;
}

main .botao-topico {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: none;
    height: 30px;
}

.botao-topico:focus {
    border: 1.5px solid #212529;
}

.botao-todos {
    background-color: #eef6ff;
    width: 72px;
    height: 40px;
}

.botao-panificadora {
    background-color: #fff7f4;
    width: 148px;
    height: 40px;
}

.botao-frutas {
    background-color: #ffe4ea;
    width: 107px;
    height: 40px;
}

.botao-bebidas {
    background-color: #f3eef5;
    width: 118px;
    height: 40px;
}

#topicos {
    display: flex;
    justify-content: space-around;
    width: 150vw;
    margin: 20px 0;
}

.icone-botao {
    width: 18px;
    height: 12px;
}

.icone-bebida {
    width: 15px;
    height: 15px;
}

#carrinho {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

#carrinho .titulo {
    text-align: left;
    background-color: #ff2253;
    color: #ffffff;
    width: calc(90% - 45px);
    display: block;
    font-size: 17px;
    font-weight: 700;
    line-height: 28.5px;
    border-radius: 15px 15px 0 0;
    padding: 18px 0 12px 25px;
    margin: 30px auto;
}

#vitrine-carrinho {
    margin: 0 auto;
    width: calc(90% - 20px);
    height: 300px;
    overflow: auto;
}

#vitrine-carrinho .aviso-vazio {
    color: #868e96;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 100%;
    margin: 6px auto;
}

#vitrine-carrinho .aviso-vazio span i {
    font-size: 45px;
}

#vitrine-carrinho .aviso-vazio span {
    font-weight: 700;
    margin: 5% 0 0 0;
}

#vitrine-carrinho .aviso-vazio p {
    font-weight: 400;
    margin: 5% 0 5% 0;
}

#vitrine-carrinho .aviso-vazio span,
p {
    font-size: 13px;
}

#vitrine-carrinho li div img {
    width: 75px;
    height: 75px;
    border-radius: 9px;
}

#vitrine-carrinho li div h2 {
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

#vitrine-carrinho li div p {
    color: #868e96;
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
}

#vitrine-carrinho li div span {
    color: #212529;
    font-size: 12px;
    line-height: 16px;
    font-weight: 16px;
}

#vitrine-carrinho li div button {
    width: 27px;
    height: 27px;
    border: none;
    border-radius: 3px;
    background-color: #f8f9fa;
    color: #868e96;
}

#vitrine-carrinho li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 18px 10px 38px 10px;
}

#vitrine-carrinho li div:nth-child(2) {
    text-align: left;
    flex-basis: 55%;
}

#vitrine-carrinho li div:last-child {
    align-self: flex-start;
}

#vitrine-carrinho::-webkit-scrollbar-track {
    background-color: #f4f4f4;
}

#vitrine-carrinho::-webkit-scrollbar {
    width: 5px;
    background: #f4f4f4;
}

#vitrine-carrinho::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

#quantidade {
    background-color: #f8f9fa;
}

#quantidade,
#total {
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 12px;
    height: 62px;
    width: calc(90% - 44px);
}

@media screen and (min-width: 1024px) {
    main {
        display: flex;
        padding: 5%;
    }
    #container-produtos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #topicos {
        justify-content: space-between;
        width: 100%;
    }


    #vitrine {
        max-width: 900px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    #vitrine li {
        width: 30%;
        margin-bottom: 80px;
    } 

    #vitrine li figure img {
        width: 97%;
        
    }

    #carrinho {
        width: 400px;
    }
}